[2018-12-26 13:52] capaj opened #1 "API refactor request-use object methods to call query/mutation"
apollo client and many other clients have this kind of API:

[code]

and it feels nicer to write/read than
[code]
also saves one character.
So I know it's a little presumptuous to ask you to change it, but IMHO it would help people who are mostly used to apollo/urql up to speed faster.

If you'd agree I could even open a PR to address this.

[2018-12-26 13:59] capaj opened #2 "how to query __params field?"
using `__params` to pass graphql parameters to a field resolver is nice, but what if I have an API which has `__params` field? How can I tell the typed-graphqlify that the `__params` is a field-not a params object?

I know it's not very likely, but it could happen.

[2018-12-26 14:20] acro5piano commented on #1
Thank you for your feedback, @capaj !

So nice suggestion, I completely agree with you. Could you create a PR?

[2018-12-26 14:46] capaj commented on #1
Sure. Give me a an hour or so.

[2018-12-26 16:04] #1 closed

[2018-12-26 16:15] acro5piano commented on #2
Thank you for pointing out. Yes, that could happen.

In my opinion, we can simply write our query params as just string:

Before:

[code]

after:

[code]

I think the latter is more readable.
Do you have any idea?

[2018-12-26 16:23] acro5piano opened #7 "API refactor"
Currently we have to write the operation name like this:

[code]

Now that #6 is merged even got better, but how about this?

[code]

in this way we can avoid using hackerly `GraphQLData<queryObject>` and less typing.

[2018-12-26 16:25] acro5piano opened #8 "graphql-tag integration"
I would like to keep this library thin, but every time writing

[code]

is annoying, so it would be great to have `gql` compatible mode.

If we implement it, the code should be like this:

[code]

[2018-12-26 16:37] capaj commented on #2
oh this is a nice solution! I was thinking more of utilizing a special function:

[code]

but your proposal is much nicer IMHO. Wouldn't it be a problem for typescript? Because the typescript type would have property `updateUser(name: $name)` instead of `updateUser`. How can we solve that?

One other thing I would love to avoid is double declaration problem that plagues graphQL queries. Other peop

[2018-12-26 16:45] capaj commented on #7
as long as it works for nested props too and it's optional. So the two queries you wrote should be the same. Also these two should be the same:

## using a prefix

[code]

## no prefix
[code]

On our GraphQL api we often have entities which are deeply nested and it would make the query simpler if we could use the prefix.

[2018-12-26 17:06] capaj commented on #8
agree. I'd say gql-tag usage is more probable than a user wanting a plain string output. So it should default to returning gql-tag.

I'd model it something like:

[code]
because then user can choose string/gql-tag for each individual query.

[2018-12-26 17:17] capaj opened #9 "how to do inline fragments?"
on our Graphql api we use interfaces. To query an interface we need to make inline fragments such as:
[code]

if this lib can support these we can start putting it to production at https://www.looop.co/

[2018-12-26 17:44] acro5piano commented on #9
Production application is the goal to OSS!
I haven't used inline fragments, so take a look tomorrow.

Thanks,

[2018-12-26 17:57] acro5piano commented on #2
Oh I missed the problem! Thanks.
Your `parametrized` looks great, I will try to implement that. Of course if you have time to implement it feel free to send a PR!

It is really great if typed-graphqlify solves the double declaration problem, but how do you implement the feature?
I cannot imagine how to stop Overfetching before running the query...

[2018-12-26 21:30] capaj commented on #2
@acro5piano if I have time I'll try to experiment with the #9 rather than this. The current implementation is good enough to be used as is. Maybe later if you don't beat me to it.

[2018-12-26 21:44] capaj commented on #9
huh now that I am thinking about this-we could use the same approach I was suggesting for #2 and do:

[code]

so fragment would take 2 params-first would be common fields and the second would have interface types and their respective fields. It should be possible to express the return type of that in typescript I think.

[2018-12-27 01:57] capaj commented on #2
I noticed you even use it with arrays which gets a little hairy-because then `__params` needs to be defined on a first item of an array. I have it implemented currently on my local development branch as:

[code]

and that works nicely! Will open a big PR soon.

[2018-12-27 06:06] acro5piano commented on #8
Thank you for your response.

`asString` property looks flexible.
I will try to implement it after #10 merged!

[2018-12-27 06:12] acro5piano commented on #7
Thank you for your suggestion.
I don't know how to implement nested props, for example

`getMotherAndFather.mother`

↓

[code]

Deep nested GraphQL looks useful in the  particular situations, so I think it is the tradeoff of losing type info.

[2018-12-27 16:03] acro5piano commented on #9
I looked at your changes carefully, and found it could divided to the following features:

Already solved:

- Fixing CJS format https://github.com/acro5piano/typed-graphqlify/pull/13
- Make operation name optional https://github.com/acro5piano/typed-graphqlify/pull/15

Not solved:

- Fixing README
- Refactor code by adding `CoreType` and `TypeFlags`
- Enables to infer operation variables by Adding

[2018-12-27 16:32] acro5piano opened #19 "Add example how typed-graphqlify works with Apollo"
It is helpful to show how typed-graphqlify works with Apollo.

After #8 is merged.

[2018-12-27 16:47] acro5piano opened #20 "Add the possibility to create GraphQL dynamically & programmatically"
Based on [the hackernews' feedbacks](https://news.ycombinator.com/item?id=18761439), it is better to show the benefit of typed-graphqlify is helpful for some situations over Apollo CLI's Codegen.

The possible benefit is that we can create GraphQL query dynamically and programmatically.
For example, imagine your UI shows a table which user can choose fields.

![image](https://user-images.githubuse

[2018-12-27 16:50] acro5piano commented on #20
And, typed-graphqlify is easier to get started IMO. Apollo Codegen have to change the development workflow, because it depends on schema, so exporting schema to somewhere and confirm the schema is the newest one.
Although it is not hard task in general, but might be difficult in some environment.

[2018-12-29 04:54] acro5piano opened #22 "String parameter bug"
I found the following bug:

[code]

actual

[code]

[2018-12-29 04:56] acro5piano commented on #22
The following patch breaks some tests:

[code]

[2018-12-29 05:29] #7 closed, assigned to nobody

[2018-12-29 05:33] acro5piano commented on #20
Fixed by https://github.com/acro5piano/typed-graphqlify/pull/25

[2018-12-29 05:33] #20 closed

[2019-01-14 11:23] luvies commented on #2
Wouldn't ES6 symbols be perfect for something like this? e.g.
[code]
so then the example given above would be:
[code]
It preserves the in-line style and simpliciy, but ensuring that you will never get any clashes. It would also work for things like #28, where you've build up strings as placeholders.

[2019-01-14 12:08] capaj commented on #2
@luvies interesting idea, but I think a `params` which is modeled according to [the recently merged](https://github.com/acro5piano/typed-graphqlify/pull/21) `alias` would be the best solution here.

[code]

internally I believe Weakmaps are the cleanest solution for storing metadata about objects. Symbols are great too, but it's IMHO cleaner to store it outside of the object.

[2019-01-14 12:17] capaj commented on #2
also composing `params` and `alias` might be confusing, so it might be best to allow alias inside the params first argument
[code]

[2019-01-14 14:17] luvies commented on #2
That style of function looks like it would be very clean, I agree. Plus it would properly support scalar properties, which is better than the current method. However, wouldn't the weakmaps method require a global state when building up the query objects? Considering the example implementation you gave before, if you used the same object (a little weird, but very possible) to define the params of a

[2019-01-15 05:51] acro5piano commented on #2
@luvies Thank you for your comment!

Symbol is interesting idea. However, actually I don't like the current inline style, because it is far from native GraphQL style. Some users may confuse where to write params.

@capaj 's `params` dynamic property style looks good. I think we implement it without using global state and Weakmap right?

The simplest but not elegant solution is to use string litera

[2019-01-15 16:29] luvies opened #33 "Query custom scalar property"
Would it be possible to add the ability to query custom scalar types? For example, the API I'm building uses  the JSON type from [graphql-type-json](https://github.com/taion/graphql-type-json), and the client needs to query on this field.

I know what the type of this field will be (since the data come from elsewhere, so structure is a given), so something like
[code]

Currently my workaround is t

[2019-01-16 02:04] acro5piano commented on #33
Thanks for your interest in typed-graphlify!

I confirmed the issue and add minimal code. I don't know much about custom scalar type, so could you review it?

https://github.com/acro5piano/typed-graphqlify/pull/34

If you would like, you can re-submit my PR so that you can become a contributor of this project!

[2019-01-16 10:38] luvies commented on #33
I've looked through it, and it looks good. Thanks for the quick reponse on this.

[2019-01-16 15:48] luvies commented on #2
Would it be possible to support typing the params? E.g. you could define the params object like
[code]
and then use it in the converter function like
[code]
This would then check that all of the params were specified in the root query object, and you can also use it to make sure that you pass the right variables when actually making the query later.

To support it in the query object, it would pro

[2019-01-16 20:42] acro5piano commented on #2
@luvies
Great feature, I like it.
I would like to keep this library as simple as possible, and type-checking does not break the simplicity.

@capaj @luvies @YardWill
I think we will release v2.0.1 after resolving this issue, cause this issue may include the biggest breaking change.
I will try to think the api, so if you have any ideas feel free to write down. Thanks!

[2019-01-16 20:57] acro5piano commented on #2
Something like this

[code]

Renders

[code]

More simple:

[code]

[2019-01-23 19:28] #33 closed, assigned to acro5piano

[2019-01-23 23:51] acro5piano commented on #9
close as https://github.com/acro5piano/typed-graphqlify/pull/28 merged.

[2019-01-23 23:51] #9 closed

[2019-01-30 15:55] humodz opened #38 "Proper way of creating scalar with parameters"
First of all, thanks for creating this awesome library. My question is, how should I create a field that takes parameters, but returns a scalar instead of a nested object?

Example:
[code]
Desired query:
[code]
I can't use __params, because graphqlify will generate an empty { } block after the name and parameters.

My workaround:
[code]
I could have added `['isValid(timestamp: "2019-01-30")']: typ

[2019-01-30 22:43] acro5piano commented on #38
Hi @humodz , thank you for your interest and suggestion!

Yes, it does not support scalar with parameters yet.
Currently working on #2 so the feature should be support there.

Anyway, your `withParameters` sounds good!

[2019-01-30 22:44] acro5piano commented on #2
We should scalar with parameters. See #38

[2019-02-06 16:28] luvies opened #40 "Support inline fragment unions"
I've been writing both a GraphQL server and consumer, and I've written a pattern of using discriminatory unions multiple times. Unfortunately, the way fragments work currently, it just makes each field optional, making it a bit weird to handle these kinds of unions properly. Ideally, you would want something that could mimic the following:

[code]

So far, this is the implementation I'm using, how

[2019-02-06 20:36] acro5piano commented on #40
Thank you for posting an issue!

I'm not familiar with fragment unions, so could you write some example code? Minimal (failing) unittest code is very helpful.
Thanks!

[2019-02-07 10:46] luvies commented on #40
It's not a true feature of GraphQL, per-se, but it's a pattern a lot of unions follow I believe. To use the example above, you could do the following in GQL

[code]

If you then ensure that `name` is always a value for a given type (e.g. `a` for `ObjA`, and `b` for `ObjB`), then clients can effectively discriminate between them using the name property, which always exists. For example:

[code]

Ty

[2019-02-09 19:25] acro5piano commented on #40
Thank you for your example code!

Just confirming the problem.
Assuming this query:

[code]

and the interface of `typeof queryObject` becomes:

[code]

The problem is `height` and `memory` become optional, right?

If `type` is `droid`, `memory` must definitely not `undefined`.

[2019-02-10 13:30] luvies commented on #40
Correct, the problem is that it simply merges all of the properties of all the inline fragments into the object, making the typing not line up to what is actually returned (e.g. `Droid` never has the property `height`, however this will always exist on the typing regardless using the current system).

As for the `when` function you've shown, I don't think that would work well. The discriminatory u

[2019-02-15 19:29] luvies opened #41 "types.custom incorrect type"
Currently `types.custom<T>()` has the type `(() => T) | undefined`, where it should be `() => (T | undefined)`. It is likely due to the `Partial<typeof types>` usage.

[2019-02-15 19:54] luvies opened #42 "Using a scalar in an array outputs incorrect GraphQL"
Given the following query:

[code]

typed-graphqlify will output this:

[code]

When it should be this:

[code]

[2019-02-15 20:10] luvies opened #43 "Support standard fragments"
Currently, if you want to do fragments, you have to do something like this:

[code]

which will output:

[code]

This works, but is rather inefficient, since we know what bits are fragments beforehand, so the optimal code to output would be:

[code]

The savings aren't hugely apparent here, but when you start building up large queries (which I have), you find that large parts of the GQL is duplica

[2019-02-16 04:27] acro5piano commented on #40
I'm sorry for my slow response, and thank you for your suggestion!

Yes for sure. Thank you for your suggestion from deriving the good library.

You mean your `onUnion` function is the only way to implement TS' type inference?
Can we implement it like the following object? looks simpler.

[code]

And recently I don't have much time to work on the following issues:

- https://github.com/acro5piano/

[2019-02-16 11:19] luvies commented on #40
From my testing, that was the only way I could make it work, but I do like that way of doing it, so I'll look into it.

I'm willing to work on those issues (I only made the last 3 because I kept forgetting about them), and if you're open to me being a co-maintainer, then I'm more than willing to help (I've found this library to be very useful in my work, and I'll likely use it in personal projects

[2019-02-19 00:24] acro5piano commented on #40
Yes, please make this library great together! Thank you a lot.

Sure, I'll review changes before merge!

[2019-02-19 00:58] acro5piano commented on #42
I submitted a PR for solving this: https://github.com/acro5piano/typed-graphqlify/pull/44/files

Will merge soon!

[2019-02-19 01:07] #42 closed

[2019-02-21 01:03] #2 closed

[2019-02-21 01:11] #41 closed

[2019-02-21 01:24] acro5piano commented on #41
FYI: Fixed by #47 thanks to @luvies

[2019-02-24 02:14] #22 closed

[2019-02-26 05:44] zwh1666258377 opened #52 "How to get params type？"
like title...

[2019-02-26 09:05] acro5piano commented on #52
Hi @zwh1666258377 , thank you for your interest in this project.

Do you mean operation params by `params` right?
If so, currently there are no ways to define and get type of params.

[code]

Unlike `typed-graphqlify`, Apollo Codegen creates input type, so adding the feature seems good.

However, I currently don't imagine both the api and implementation. We possibly make params builder like this:

[2019-02-26 09:18] acro5piano commented on #52
Or, simply

[code]

[2019-02-26 09:23] acro5piano commented on #52
However, people query variables like

[code]

[2019-02-26 15:38] #38 closed

[2019-02-27 02:53] zwh1666258377 opened #55 "how to use nested object to make query?"

[2019-02-27 02:56] zwh1666258377 commented on #52
👍

[2019-02-27 03:24] zwh1666258377 commented on #55
[code]
The game struct contains player starct。。
How do I accomplish such a nested structure？

[2019-02-27 03:26] zwh1666258377 commented on #55
Maybe that doesn't make sense..  But I seem to have this problem

[2019-02-27 10:19] luvies commented on #55
GraphQL doesn't support recursive structures (see facebook/graphql#91), so this library doesn't either. For that example, the best thing to do would probably be to move `joinGames` to a separate query, and have the GQL be
[code]

[2019-02-27 14:45] zwh1666258377 commented on #55
oh。 thx

[2019-02-27 22:18] luvies commented on #43
Closed via #53

[2019-02-27 22:18] #43 closed

[2019-03-03 11:36] #40 closed

[2019-05-15 16:34] laurensdijkstra opened #67 "Typing array elements"
In the Readme.MD you wrote `Note: Currently creating type from array element is not supported in TypeScript. See https://github.com/Microsoft/TypeScript/issues/28046`

In that issue thread someone seems to have posted a solution that works with TS > 3.4. Does this help typed-graphqlify?

https://github.com/Microsoft/TypeScript/issues/28046#issuecomment-480516434

[2019-05-16 05:15] acro5piano commented on #67
Thanks! I'll check it later.

[2019-06-20 09:33] acro5piano commented on #67
Very slow response, but I've finally checked it.

[code]

We may also support TS < 3.4 with overload signature.

And this utility-type do the same thing:
https://github.com/piotrwitek/utility-types#elementtypet-k

[2019-06-27 10:04] laurensdijkstra commented on #52
This is what I'm trying to do with typed-graphqlify right now, however in the output after conversion to string, the quotation marks around Tom are gone, making the GraphQL syntax illegal. Any way to circumvent/fix this?

[2019-06-27 23:11] dalindsey opened #69 "Add example of how reference GraphQL-like JS obj as TS interface"
As the title says, the README only mentions TypeScript in passing and does not show using the created schema as a TypeScript interface/return type.

[2019-06-28 02:28] acro5piano commented on #69
Hi, thank you for your interest.

What do you mean by "GraphQL-like JS obj as TS interface"?

We have `type GetUser = typeof queryObject` in the Readme. It is different from what you are looking for?

[2019-06-28 02:38] acro5piano commented on #52
@laurensdijkstra

This issue might help you. Which version do you use?

https://github.com/acro5piano/typed-graphqlify/pull/46

[2019-06-28 02:45] acro5piano commented on #52
Got it.

https://github.com/acro5piano/typed-graphqlify/blob/master/src/__test__/index.test.ts#L254

Currently we expect query-level vars, so in your case you have to use `rawString` helper.
I would like to make an improvement that automatically remove `"` only if car value starts with `$`.

Thanks!

[2019-06-28 09:43] laurensdijkstra commented on #52
I created a helper function that recursively runs `JSON.stringify()` on all string values of the parameters object, whichs works nicely. Thanks!

[2019-07-15 18:15] victorbadila opened #71 "How can params be used in sub trees of a query?"
Suppose I have a gql query that looks like this:
[code]
Is there any way I could write it using this library? I am able to do so for the individual `category` and `product` queries, but I wasn't able to do this for the full example, where params int he query are passed down in different trees.

[2019-07-16 09:07] victorbadila commented on #71
I just realised that the gql can be written as a function:
[code]
Would this be the preferred way of doing it?

[2019-07-16 18:04] acro5piano commented on #71
Hi @victorbadila , thank you for your interest in this library!

I never tried that way, but it looks working well and seems the only solution if the following code does not work:

[code]

Have you tried that? I believe it works.

[2019-07-16 18:20] acro5piano opened #72 "v3 roadmap"
I think typed-graphqlify could do more than the current type alias.

While I was working on Apollo and Apollo Codegen instead of typed-graphqlify, I feel it inconvenient in the following points:

- Importing a lot of code from `__generated__` directories
- Multiple schemas, in terms of microservices
- No serializer concept

And typed-graphqlify lacks the following features:

- Params are not type-

[2019-07-16 18:26] acro5piano commented on #72
And actually I don't like the syntax of `id: types.number` as it is different from the original GQL syntax.

I want to do like eventually:

[code]

However, the structure is apparently impossible without codegen. So I'm thinking what is the least verbose syntax.

[2019-07-22 12:24] revskill10 opened #73 "How to remove query from the output query ?"
In my app, all of my graphql query is live query, so i have to skip `query` and `subscription` from the query itself.

That means, instead of using

[code]

i use

[code]

This is, i think possible to skip the operation name `query`, `mutation`, `subscription` so that the output string query doesn't contain those names.

[2019-07-22 12:33] acro5piano commented on #73
Hi, thank you for your interest.

There are no options for now. Any PRs are welcome!

Maybe if we just add a line here, the feature will be done:

https://github.com/acro5piano/typed-graphqlify/blob/a23658e4240e958101b0af18cf9890866f12ce24/src/graphqlify.ts#L22

Do you think which name is suitable for unnamed query?

[code]

`live` is too specific, so `plain` or `query.plain` or something?

[2019-09-18 03:15] albertcito commented on #72
Hello @acro5piano  I made a small library based in your library. Maybe it's a good idea to add these features to your library (or maybe not XD)

https://github.com/albertcito/typed-graphql-class

[2019-10-08 16:53] iyegoroff opened #74 "How to represent a union?"
Hi, @acro5piano!

How to represent a type like `string | null`? I have tried `types.oneOf([types.string, null] as const)`, but this gives me some wrong type in typescript v3.6.3:

![Screen Shot 2019-10-08 at 19 47 11](https://user-images.githubusercontent.com/4447438/66415834-2ea7dd80-ea05-11e9-85f0-7a74c80b976e.png)

[2019-10-09 01:13] acro5piano commented on #74
Hi @iyegoroff !

Currently `types.oneOf` takes `enum`, not array. We are changing it to take array element type which is being discussed here:
https://github.com/acro5piano/typed-graphqlify/issues/67

The PR is still WIP though:
https://github.com/acro5piano/typed-graphqlify/pull/68

I'm really grad if you implement it. Thanks!

[2019-10-09 01:19] acro5piano commented on #72
Hi @albertcito !
We are still on the way to find the best combination GraphQL + TypeScript. Good luck!!

[2020-03-01 01:03] coffenbacher commented on #74
Looking forward to that PR @acro5piano ! In the meantime, I think this workaround is working for me:

[code]

[2020-03-02 13:31] #74 closed

[2020-03-02 13:48] acro5piano commented on #67
@laurensdijkstra
I've add the feature in the following PR. Thanks!
https://github.com/acro5piano/typed-graphqlify/pull/68

[2020-03-02 13:48] #67 closed

[2020-03-05 14:19] martinschmelzer opened #80 "Creating a custom scalar"
I have trouble creating a custom scalar. Can you add an example?

[2020-03-05 15:07] #80 closed

[2020-04-22 15:24] talivodworks opened #82 "Params of type array is not formatted correctly in Mutation."
I am trying to create a bulk insert mutation with parameter of type array For example
`mutation {`
`    insert_users: (`
`        objects:[ {name: "test"}, {name: "test2"} ]`
`   )`
` { returning: { id }}`
`}`
my graphql server support objects to be an array. so using typed-graphiql I am generating this mutation like this
`const bulkInsertQuery = { inserts_users: params([ {name: "test"}, {name: "t

[2020-04-23 01:29] acro5piano commented on #82
@talivodworks
Thanks for your report.
I'm trying to check and solve your use case.

[2020-04-23 03:28] acro5piano commented on #82
Are you expecting the following input/output right?

input:

[code]

output:

[code]

[2020-04-23 03:54] talivodworks commented on #82
@acro5piano yes that is correct.

[2020-04-23 04:07] acro5piano commented on #72
Considering these hacks:

[code]

[2020-04-23 04:11] acro5piano commented on #82
I've tried to implement array pattern, but I found it needs a lot of `rawString` to detect string object.

Instead, can you try pass `objects` as GraphQL variables like this?

https://github.com/acro5piano/typed-graphqlify/pull/84/files#diff-da4ff8448db4257666fc4d253664f72eR693-R713

[2020-04-23 04:40] talivodworks commented on #82
@acro5piano  I am sorry but I do not understand. Can you please convert
https://github.com/acro5piano/typed-graphqlify/issues/82#issuecomment-618155473
to what you mean by using the object. That would be helpful.
Thank You.

[2020-04-23 08:27] acro5piano commented on #82
@talivodworks
There are two ways to send parameters by GraphQL.

The first one is embedded parameters, which is something like you suggested.

[code]

And the second one is passing argument to your query, and send the query with `variables` request body.

[code]

typed-graphqlify cannot covert the first one for some reasons, so you should request by sending `variables` request body.
A complete exa

[2020-04-23 08:27] #82 closed

[2020-04-23 09:46] talivodworks commented on #82
@acro5piano  Thank you so much... That worked... Really appreciate your help. :)

[2020-04-23 14:14] acro5piano commented on #82
You are welcome!

[2020-06-03 19:35] marco2216 opened #85 "Optional types not working?"
Hi, when I define an optional type it doesn't seem to work? branch is defined as types.optional.string. Great idea for this library by the way.
<img width="413" alt="Screenshot 2020-06-03 at 21 31 04" src="https://user-images.githubusercontent.com/4561482/83681014-10b96980-a5e2-11ea-8639-524decc7b741.png">

[2020-06-04 20:29] marco2216 commented on #85
Thank you. I believe this is because strictNullCheks was not set to true on the project. But I find it odd that it would not show that the type could be undefined.

[2020-06-05 02:13] acro5piano commented on #85
Do you mean the TSHover shows `string` instead of `string | undefined`, right?
I think it odd too. If you have any workaround on this, feel free to open a PR or post it here. Thanks.

[2020-06-05 08:57] marco2216 commented on #85
Yes, that's right. But I guess it makes sense since without strictNullChecks, any object can be null or undefined. But it would be nice if there was a way to specify that you know for sure that an object is not null or undefined.

Even NonNullable type does not do any good without strict checks:
![image](https://user-images.githubusercontent.com/4561482/83857429-44e47580-a71b-11ea-8af0-b88c228d28a

[2020-06-24 15:59] kevinsimper opened #87 "Render fragment to string"
It looks there is no way to turn a fragment into a string.

This will make it easier to incorporate into larger projects where fragments are used as a way for splitting up the app into smaller pieces.

It will benefit that you don't have to refactor everything up the chain if you want to add it to a leaf component.

[code]

[2020-07-01 06:48] bkniffler commented on #72
typed-graphqlify looks very promising. I especially like that it doesn't try to be a client, but only a transformer for queries/mutation.

In terms of querying API, I really liked this one: https://www.npmjs.com/package/graphql-typed-client

As long as there is no code generation involved, it will be hard to allow for proper typing of input params and typed-graphqlify will be just half useful. Loo

[2020-07-02 00:37] acro5piano commented on #72
@bkniffler
Thank you for your opinion.
I agree with you. Proper typing and validation could be good features, whereas client library is too much. Client library should be a separated library.

[2020-09-17 02:02] fwh1990 commented on #72
https://github.com/redux-model/graphql

I'm watching your idea, and feel free to watching my idea.
[code]

[2020-09-17 02:16] fwh1990 commented on #72
By the way, I am using redux model which is base on redux. And I don't like apollo client.

[2020-09-17 03:28] acro5piano commented on #72
@fwh1990
Thanks for your opinion. Redux Model looks interesting.

[2020-09-17 06:14] fwh1990 commented on #72
Yep, its goal is saving people's life. And it will let people know that **TS** can be faster, not slower.

[2020-09-18 03:38] fwh1990 opened #145 "Did you miss some features?"
#  Directives
[code]
And more, I will find out later. Good luck.

[2020-09-18 03:41] fwh1990 commented on #145
The inline fragment also can use `directives`, I'm working on it now.
[code]

[2020-09-18 06:35] fwh1990 commented on #145
Even fragment
[code]

[2020-09-18 10:56] acro5piano commented on #145
@fwh1990
Thank you for your interest.
Yes, directive compilation is missing. Any PRs are welcome. Thanks.

[2020-09-29 05:16] acro5piano opened #158 "Get type from string?"
In the following repository, it gets type from query string. No codegen tool is needed.

https://github.com/codemix/ts-sql

I think we can do the same thing in GrapQL.

[2020-09-29 16:28] acro5piano commented on #158
Seems that it uses the new feature `Template Literal Types` which will be out in TypeScript 4.1.

https://devblogs.microsoft.com/typescript/announcing-typescript-4-1-beta/#template-literal-types

[2020-09-29 16:52] acro5piano commented on #158
This repository should be checked.

https://github.com/dotansimha/graphql-typed-ast

[2020-09-29 17:39] acro5piano commented on #158
I've figured out prototype! I'll try on this.

![image](https://user-images.githubusercontent.com/10719495/94595424-c90fc980-02c5-11eb-9992-72bac6af157e.png)

As `Expression produces a union type that is too complex to represent.`, there must be some limitation.

![image](https://user-images.githubusercontent.com/10719495/94595567-fb212b80-02c5-11eb-8f9c-bdec19c7d9b8.png)

[2020-09-30 18:55] acro5piano commented on #158
basic parser implemented

https://github.com/acro5piano/typed-graphqlify/blob/next/src/type-test.ts

[2020-10-01 20:04] sgkamal opened #160 "Array arguments in query params converting to objects"
I'm trying to construct a graphQL query something like so:
[code]

I expect the request payload to be:
[code]
but instead get a:
[code]
Is there a way to convert the arguments to an array instead of an object as we're seeing above?

[2020-10-02 20:54] #160 closed

[2020-10-03 06:49] acro5piano commented on #160
You closed the issue so I hope your problem was solved.
For the future reference, it is need to use Query parameters in that case.

[2020-10-11 13:30] relvao opened #167 "Any way to provide on_conflict in mutation"
I can't seem to be able to pass a on_conflict object to a mutattion. the update_columns field is always being converted from an array into an object.

I'm using hasura as the gql server https://hasura.io/docs/1.0/graphql/core/mutations/upsert.html#update-selected-columns-on-conflict

Is this currently unsuported?

[2020-10-11 14:00] relvao commented on #167
Update. Passing the array as a string seems to work for me:

`
              on_conflict: {
                constraint: 'listings_pkey',
                update_columns: '[name, description]'
              }
`

[2020-10-11 14:00] #167 closed

[2020-10-12 02:03] acro5piano commented on #167
Thanks for the information!

[2020-10-17 13:52] acro5piano commented on #158
It turns out to be difficult for the current TypeScript type's performance. see: https://github.com/dotansimha/graphql-typed-ast/issues/2#issuecomment-704974334

Instead, how about implement "minimal overhead" syntax??

[code]

[code]

[2020-10-17 14:22] acro5piano commented on #72
I have been missing this syntax. We don't have to use `params` if we embed it into key.

[code]

[code]

[2020-11-03 10:43] acro5piano commented on #87
close via #88

[2020-11-03 10:43] #87 closed

[2020-11-03 10:46] acro5piano commented on #72
v3 is released.

[2020-11-03 10:46] #72 closed

[2020-11-30 03:47] zabavnikov opened #187 "null in params is converted to an empty object"
Code:
![image](https://user-images.githubusercontent.com/8766240/100566491-ca2a9a80-32f8-11eb-84ad-86aba903bc54.png)

Error: (I expect null)
![image](https://user-images.githubusercontent.com/8766240/100566660-32797c00-32f9-11eb-990f-42fe6c7b5dd8.png)

[2020-11-30 05:40] zabavnikov commented on #187
Now I use this solution
![image](https://user-images.githubusercontent.com/8766240/100572663-a1aa9c80-3308-11eb-981e-d7594b6dcb19.png)

[2020-12-05 16:28] acro5piano commented on #187
Sorry for the delay.

# Solution 1: use GraphQL operation variables

The better solution.

[code]

# Solution 2: alias

How about using `alias`?

[code]

[2020-12-05 16:36] acro5piano commented on #187
I'll try to render `null` if the param is null.

[2020-12-05 16:47] #187 closed

[2020-12-05 16:52] acro5piano commented on #187
@zabavnikov I've fixed and published v3.0.1 which includes the fix. Please try it out! Thanks.

[2020-12-14 20:18] talivodworks opened #198 "Error: Object cannot have no fields at renderObject"
I am trying to implement a hasura mutation which looks like this:
[code]

My typescript code looks like this.

[code]

But I got the error that **Error: Object cannot have no fields at renderObject**.
I have debugged it and its at [this line ](https://github.com/acro5piano/typed-graphqlify/blob/d98329e289505e6346a31b92c582549d988598dd/src/render.ts#L228). I can also see the test cases for [these s

[2020-12-15 15:50] acro5piano commented on #198
Hey @talivodworks , Thank you for using typed-graphqlify.

It's strange. I copy & paste your code in my vim and run it locally, and the result is **what we expected**. using 3.0.2

![image](https://user-images.githubusercontent.com/10719495/102237889-7b0b7900-3f38-11eb-9e23-b28c3579dd3d.png)

[2020-12-15 15:54] acro5piano commented on #198
If you are still in a trouble, can you try the following?

- Copy the following code at the bottom of `src/__tests__/index.ts`
- Run `yarn test`

[code]

[2020-12-16 18:57] talivodworks commented on #198
@acro5piano  I have tried the provided sample test. It is working fine. I will take a deep look at my Implementation again. This is strange. I will try look more into my implementation. Thank you.

[2020-12-17 16:10] acro5piano commented on #198
@talivodworks Yeah, please check it again.

I'm closing this issue, but feel free to re-open if you want. Thanks!

[2020-12-17 16:10] #198 closed

[2021-01-07 20:08] evry-johan opened #208 "Quoting string values on mutations"
Using your example mutation:

[code]

Yields the following query: `mutation updateUserMutation{updateUser(input:{name:Ben,slug:/ben}){id name}}`. Why doesn't the library wrap string values in double quotes? That's what my backend framework expects, so I suppose it's a standard?

[2021-01-08 08:10] acro5piano commented on #208
@evry-johan
Hi, thanks for pointing out. You should use `rawString` helper to add `"`.

As you said, the example is wrong. I'll fix it.

[2021-01-08 08:14] acro5piano commented on #208
Ideally typed-graphqlify wraps string automatically, but it is almost impossible to distinguish Enum and string. consider this case:

[code]

If you have any idea of it, please let me know!

And the docs is fixed by this. Thanks!

https://github.com/acro5piano/typed-graphqlify/commit/68b98beabf033ab3befec889db208242998ebfc1

[2021-01-08 09:54] evry-johan commented on #208
@acro5piano Gotcha, thanks for the clarification. At the moment I'm doing this:

[code]

Also, thanks for a nice lib, keep up the good work! 👍

[2021-01-08 13:46] acro5piano commented on #208
@evry-johan thanks! If you have good solutions for this, I'm welcome to any PRs.

[2021-01-08 13:48] #208 closed

[2021-01-21 07:06] zabavnikov opened #210 "Is it possible to pass arguments to a field?"
Example:

![image](https://user-images.githubusercontent.com/8766240/105315291-a9443e80-5bf1-11eb-90f5-078f89378e0e.png)

[2021-01-21 07:16] acro5piano commented on #210
Let me check it

[2021-01-21 07:27] acro5piano commented on #210
@zabavnikov I confirmed that your case works. I've added the query to unit test. You can refer it.

https://github.com/acro5piano/typed-graphqlify/blob/e9b48d6733027e35a8047af81f56e6ca2b524e39/src/__tests__/index.test.ts#L1020-L1036

I've also update the document.

https://github.com/acro5piano/typed-graphqlify/blob/master/README.md#field-with-arguments

If you have any problem with it, feel free

[2021-01-21 07:27] #210 closed

[2021-01-21 07:33] zabavnikov commented on #210
@acro5piano, thanks a lot! 😊

[2021-04-15 10:51] germsb opened #224 "[Question] how to use variables"
Hello, thanks for your library, looks pretty cool.

The doc says:

But I did not find anything in doc or test on the use of variables.

It is possible to add an example ?

[2021-04-15 17:44] acro5piano commented on #224
Hi @germsb , Thank you for your interest.

You can see a mutation using variable: https://github.com/acro5piano/typed-graphqlify#basic-mutation

However, using `params` will be more simpler code.

[2021-08-24 12:22] lo1tuma opened #255 "[Question]: Error handling"
Hi,

I was desperately searching for a typescript graphql client library that doesn’t rely on code generation, it this one could be a perfect match. However I do have some questions that are not covered by the README.

* How does error handling work? There are different kind of errors (e.g. networking errors vs graphql errors). So how can I provide the schema/typings for graphql errors?
* How to h

[2021-08-24 12:30] YardWill commented on #255
This lib privide a typical graphql generator only.

[2021-08-24 12:33] acro5piano commented on #255
Year, this library actually does not request to server. Please use your favorite library (e.g. apollo client).

Though this is not current this lib's project, but static type checking & validation on compile-time is an interesting idea.

[2021-08-24 15:13] lo1tuma commented on #255
How does it work then? Does it require an explicit type assertion? IMHO that reduces the quality of type safety. And apart from that I guess it also covers any other cases like partial reponse/error scenarios, right? So I can’t have the correct type definition for a partial data response, right?

[2021-08-24 17:06] lo1tuma commented on #255
I think I got that now. Although I still understand how the type could match for `.data` when there is a  partial error/data response. Is everything made optional by default?
Anyway, thanks for all the answers I have a much better understanding of what this library is able to do.

[2021-08-24 17:06] #255 closed

[2021-08-25 09:45] acro5piano commented on #255
Yeah, this library just converts object into string. No requests/response/partial-errors.

Practically you should your favorite GraphQL client library with typed-graphqlify like Apollo, URQL, or even primitive `fetch`.

[2021-09-27 01:23] jaredjj3 opened #266 "Request to add a runtime enum detection mechanism"
First of all, thank you for maintaining such an excellent library! Clientside GraphQL in my application doesn't feel brittle anymore.

**TL;DR** - It would be nice to be able to detect whether a property is an enum at runtime.

I've created a wrapper around `typed-graphqlify` and `graphql-code-generator` that allows me to make type-safe queries tied to a generated GraphQL schema type map like this

[2021-09-27 07:23] acro5piano commented on #266
Hi, thanks for your interest in this library.

typed-graphqlify doesn't do anything fancy, so runtime checking shouldn't be implemented.

I'm not looking into your code, but it seems you can use variables as string without worrying about quotation.

Otherwise, I guess you are doing over engineering. If you are using graphql-code-generator then just only use it and forget about typed-graphqlify bec

[2021-09-27 07:25] acro5piano commented on #266
P.S. Your website looks cool!

[2021-09-27 12:11] jaredjj3 commented on #266
Thanks for the feedback! What you suggested works, but I'm still faced with the same problem of identifying what fields are enums.

I agree. What I'm really requesting is extra metadata for fields declared with `types.oneOf`.

### Alternative 1

I don't fully understand how [scalarType](https://github.com/acro5piano/typed-graphqlify/blob/4b9d6d2bd1466dc3e503b1220a20abf8f554133c/src/types.ts#L50) i

[2021-09-27 15:00] #266 closed

[2021-09-27 15:11] acro5piano commented on #266
Okay, thank you for sharing it. I'm glad that you solved the issue.

Also, please consider converting your $gql into an standalone OSS library (or send a PR for it to typed-graphqlify) for others! The syntax is quite fluent and I'm curious how it works.

[2021-09-27 15:43] jaredjj3 commented on #266
Thanks for expressing interest. I'm currently in the middle of a refactor, so I will see how the solution evolves and consider making a standalone library after I fully understand what the limitations are.

[2021-12-13 13:35] jaredjj3 opened #283 "Strongly typed unions"
When using `{ onUnion } from src/types.ts`, I immediately found that it was error-prone and not inherently safe against schema changes. Instead of using that, I created a strongly typed `union` type that wraps `onUnion`. I would like to share and get your thoughts on adding it as a static method on `{ types } from src/types.ts` which will supplement `{ onUnion } from src/types.ts`.

[code]

An exa

[2021-12-14 06:04] acro5piano commented on #283
Hi, thanks for your interest.

In your case, is `...onUnion()` is enough?

[code]

Details :arrow_right: https://github.com/acro5piano/typed-graphqlify#inline-fragment

By the way, I think it is better idea to use GraphQL's standard way to handle errors. You should return error objects defined in RFC:

- https://spec.graphql.org/June2018/#sec-Errors
- https://www.apollographql.com/docs/apollo-serv

[2021-12-14 14:28] jaredjj3 commented on #283
It's enough to get it to work, but I sacrifice a lot of type safety benefits:

- **Nothing enforces me to include all union members at compile time.** Otherwise, I can get unexpected/unhandled types at runtime. I think this is a specific use case and the behavior should ultimately be forked into two types: `types.strictUnion` and `types.nonStrictUnion`. Alternatively, if you want a fluent API: `ty

[2021-12-15 08:04] acro5piano commented on #283
Sorry my example was wrong. It should be something like this:

[code]

And it actually becomes intersection type as you stated. However, type guard works to some extent like this:

![image](https://user-images.githubusercontent.com/10719495/146146334-5a44a940-a0df-4630-8e6d-93aa6f97d195.png)

I don't want to add another union helper and interface, so if you improve the current type definition inst

[2021-12-31 09:59] acro5piano commented on #283
By the way, Relay also recommends your choice which uses Error type as a model. I didn't notice that again.

https://relay.dev/docs/guided-tour/rendering/error-states/#accessing-errors-in-graphql-responses

[2021-12-31 14:39] jaredjj3 commented on #283
Thanks for that resource. I've migrated one of my codebases to use that pattern, and having the typed errors is so far a better developer experience. The main tradeoff is that my server code is more complex, but it ultimately forced me to surface implicit behavior in tests.

I spent a few days making the union typing perfect before attempting a PR, but I was unsuccessful. I ran into an issue regar

[2021-12-31 16:51] acro5piano commented on #283
A happy new year from Japan :tada:

Any changes that keeps the current API and improves type safety are welcome!

[2022-06-05 21:30] UmarFKhawaja opened #328 ".map files missing from the package causing warning in CRA 5.0.1 React apps"
.map files are not part of the package.

When `typed-graphqlify` is added to a React app created with `create-react-app` v5.0.1, `npm run start` shows the following warning.

[code]

[2022-06-06 15:33] acro5piano commented on #328
Fixed by #329

[2022-06-06 15:58] acro5piano commented on #328
Released on v3.1.5

https://github.com/acro5piano/typed-graphqlify/releases/tag/v3.1.5

[2022-06-07 01:27] #328 closed

[2022-09-27 14:30] sirganya commented on #224
Can you create an example of how to create a query with variables using both methods you mention please. The mutation example is confusing as it is terse and talks about aliases.

[2022-09-28 05:35] acro5piano commented on #224
@sirganya

In general, there are two methods to add dynamic parameters in GraphQL. One is `variable` and the other is directly embed parameters to a GraphQL query.

In terms of standard GraphQL server implementation, `variable` is better because it has better capability of caching and metrics (if the server supports such features) as the `query` is almost the same. However it **was** impossible in

[2022-09-28 09:27] sirganya commented on #224
Thanks for that.

I think an example for a simple query with variables would be useful for developers like myself who are not GQL experts and are mainly trying to make things work due to time pressure and have simple requirements.

I had been looking for a solution for efficient typing GQL and typescript, Apollo had a code-get tool that would query the schema and create types which was handy but i

[2022-09-28 16:28] sirganya commented on #208
This works:

[code]

[2022-09-28 16:36] sirganya commented on #224
This works:

[code]

[2022-09-28 17:57] acro5piano commented on #224
@sirganya thanks for the code example and I'm happy you found the solution. If you sent a pull request for the documentation I'd be happy to merge it.

Actually I recommend you to use graphql-codegen from the guild guy, as it provides a better type-safety and developer experience. I mostly use graphql-codegen for my serious projects and no problems so far - I sadly admit that typed-graphqlify is o

[2022-09-30 12:28] hcharley commented on #8
fwiw, I use this little helper:

[code]

[code]

[code]

[code]